.request-reset-password-container{
    display: grid;
    grid-template-columns:  1fr;
    gap: 10px;
    width: 100%;
   position: relative;
    padding: 20px;
   
  
   
   
   
   
}
.reset-password-container{
    display: grid;
    grid-template-columns:  1fr;
    gap: 10px;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    z-index: 9999;
   
}

.form-control {
    border-radius: 0px !important;
}
.form-button {
    width: 100%;
    margin: auto;
     font-size:  14px;
     background-color: #4f5fa6;
     color: #AAAAAA;
     padding: 10px;
     border: none !important;
     border-radius: 0px;
     box-shadow: 2px 2px 2px rgb(30, 37, 65);

     &:hover {
        background-color: #3a467c;
        box-shadow: none;
       transition: all 0.2s ease-in-out;
     }
 
 }
 .send-resetpwd-button {
  width: 100%;
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        &:hover {
            background-color: darken(#007bff, 10%);
        }
    }

    .modal-back-button {
        background-color: transparent !important;
        border: none;
        color: black;

    }
 

 .forgot-pwd-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
     font-size:  12px;
     background-color: transparent;
     color: #475aa0;
     padding: 2px;
     border: none;
     border-radius: 0px;
   //  box-shadow: 2px 2px 2px rgb(80, 92, 140);

     &:hover {
      
        color: #161d35;
       
        box-shadow: none;
       transition: all 0.2s ease-in-out;
     }
 
 }