.comments-container {
 display: grid;
 grid-template-columns: 1fr;
 //border: 1px solid pink;
 width: 90%;
    .comment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      background-color: #14161444;
      padding: 10px;
      border-bottom: 1px solid pink;
    

 
      
  
        .profile-pic {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .username, .timestamp {
            @media (max-width: 768px) {
              font-size: 12px;
            }
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            @media (max-width: 768px) {
              width: 25px;
              height: 25px;
            }
          }
        }
  
    
      .comment-content {
        display: grid;
        margin: 0 0 10px 0;

        .comment-text {
          color: #749093;
          font-size: 14px;
          margin-bottom: 10px;
        }

        .comment-likes {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;
          .like-button {
            background-color: #f0f0f0;
            color: #749093;
            border: none;
            font-size: 12px;
            padding: 10px;
            cursor: pointer;
          }
  
          .like-button:hover {
            background-color: #9df3fd;
            color: #69a2a9;
            transition: all 0.3s ease-in-out;
          }
  
          .likes {
            color: #749093;
            font-size: 12px;
          }
        
        }
      }
  
     .reply-button {
        background-color: #f0f0f0;
        color: #749093;
        border: none;
        font-size: 12px;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
      }
  
      .reply-button:hover {
        background-color: #46787e;
        color: #98e1eb;
        transition: all 0.2s ease-in-out;
      }
  
      .reply-form {
        display: none;
        margin: 10px 0;
  
        .reply-input {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
        }
  
        .reply-submit {
          background-color: #f0f0f0;
          border: none;
          padding: 10px;
          cursor: pointer;
        }
  
        .reply-submit:hover {
          background-color: #e0e0e0;
        }
     }
  }
  }

  .reply {
    padding-left: 20px;

    @media(max-width: 768px) {
      padding-left: 10px;
    }
}
