@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani&family=Reem+Kufi+Fun:wght@400..700&family=Roboto&display=swap");
/* general */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #7d91ba;
  background-color: #272727;
}

.profile-form-button {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #9ea0aa;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.profile-form-button:hover {
  background-color: #72747d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.upload-form-button {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 250px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #317b3d;
  border: 2px solid #748176;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.upload-form-button:hover {
  background-color: #113f18;
  color: #7c9980;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #131717;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  height: 50px;
  overflow: hidden;
}
.footer-section:hover {
  height: auto;
}

.footer-content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}
.footer-content a {
  text-decoration: none;
}
.footer-section:hover .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-content .policy {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: 16px;
  font-weight: 600;
}
.footer-content .about {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: 16px;
  font-weight: 600;
}
.footer-content .about a {
  text-decoration: none;
}
.footer-content .about .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.footer-content .about .footer-social i {
  cursor: pointer;
  margin: 0 10px 0 0;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-content .about .footer-social i:hover {
  color: #f7f7f7;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

@media (max-width: 768px) {
  .footer-section {
    height: auto;
  }
  .footer-bottom {
    font-size: 14px;
  }
}
.profile-button {
  display: grid;
  width: 100%;
  background-color: #958b8b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.profile-button:hover {
  background-color: #c6c0c0;
}

.pick-file-button {
  display: grid;
  width: 75%;
  background-color: #958b8b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pick-file-button:hover {
  background-color: #c6c0c0;
}

.edit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .edit-buttons {
    display: block;
  }
}
.edit-buttons button {
  width: 95%;
  background-color: #3d72b3;
  border: none;
  color: #abc8ec;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.edit-buttons button:hover {
  background-color: #82a7d4;
}

input, textArea {
  background-color: #d1cbd6;
  border: none;
  padding: 5px;
}

.track-like-button {
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.track-like-button i {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
}
.track-like-button i.liked {
  color: #d22121;
}
.track-like-button i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #d22121;
}

.navbar {
  background-color: #8c1616;
  padding: 10px 0;
  position: relative;
}

.logo {
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 54px;
}
.logo .subtitle {
  display: block;
  margin-top: -20px;
  font-size: 20px;
  text-transform: lowercase;
}
.logo img {
  width: 251px;
  height: auto;
}

a.logo {
  text-decoration: none;
  color: #b4bccd;
}
a.logo:hover {
  color: #7796da;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  scale: 1.05;
}

.menu-toggle {
  width: 31px;
  height: 22px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}
.menu-toggle:before, .menu-toggle:after, .menu-toggle > div {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-toggle:before {
  top: 0;
}
.menu-toggle > div {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.menu-toggle:after {
  bottom: 0;
}
.menu-toggle.open:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.menu-toggle.open > div {
  opacity: 0;
}
.menu-toggle.open:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 50%;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-groups {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-top: 45px;
}
.menu-groups.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .menu-groups {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    background-color: transparent;
  }
}

.menu-group {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-group li {
  margin: 10px 0;
}
@media (min-width: 768px) {
  .menu-group li {
    margin: 0 10px;
  }
}
.menu-group a {
  text-decoration: none;
  color: #b4bccd;
  padding: 5px 10px;
}
.menu-group a:hover {
  color: #7796da;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
@media (max-width: 767px) {
  .menu-group {
    display: block;
  }
}

.center {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 768px) {
  .center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  .right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .right a {
    margin-left: -10px;
  }
  .right img {
    margin-right: -10px;
  }
}
.right li .dropdown-icon {
  display: block;
}
.right li .dropdown-icon.open {
  display: block;
}
.right li .dropdown-menu {
  display: block;
  position: absolute;
  border-radius: 0;
  background-color: #b67676;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.right li .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.right li .dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  color: #aaa;
}
.modal-close-button:hover {
  color: #777;
}

.sign-up-container.modal {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  z-index: 9999;
}

.reset-password-container.modal {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  z-index: 9999;
}

.form-label-top {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
}

.icon-right {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ccc;
}

.form-control {
  border: 1px solid #e1e1e1;
  padding-right: 35px;
}
.form-control:focus {
  border-color: #007bff;
}

.btn-secondary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #0062cc;
}

.remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .sign-up-container.modal {
    width: 90%;
  }
}
#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  -webkit-box-shadow: 1px 1px 1px grey;
          box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url("/identity/sign-in/g-normal.png") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-transition: background-color 0.218s, border-color 0.218s, -webkit-box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, -webkit-box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s, -webkit-box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-color: #8e918f;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: rgba(19, 19, 20, 0.3803921569);
  border-color: rgba(142, 145, 143, 0.1215686275);
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: rgba(227, 227, 227, 0.1215686275);
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}

.request-reset-password-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  position: relative;
  padding: 20px;
}

.reset-password-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
          box-shadow: 0 0 10px rgb(0, 0, 0);
  z-index: 9999;
}

.form-control {
  border-radius: 0px !important;
}

.form-button {
  width: 100%;
  margin: auto;
  font-size: 14px;
  background-color: #4f5fa6;
  color: #AAAAAA;
  padding: 10px;
  border: none !important;
  border-radius: 0px;
  -webkit-box-shadow: 2px 2px 2px rgb(30, 37, 65);
          box-shadow: 2px 2px 2px rgb(30, 37, 65);
}
.form-button:hover {
  background-color: #3a467c;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.send-resetpwd-button {
  width: 100%;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.send-resetpwd-button:hover {
  background-color: #0062cc;
}

.modal-back-button {
  background-color: transparent !important;
  border: none;
  color: black;
}

.forgot-pwd-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  font-size: 12px;
  background-color: transparent;
  color: #475aa0;
  padding: 2px;
  border: none;
  border-radius: 0px;
}
.forgot-pwd-button:hover {
  color: #161d35;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.create-profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  grid-template-areas: "edit" "form-container" "preview";
}
@media (min-width: 768px) {
  .create-profile-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "edit preview" "form-container preview";
  }
}
.create-profile-grid .form-container {
  grid-area: form-container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  margin: 0;
}
.create-profile-grid .form-container .form {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "fullname" "bio" "location" "websiteURL" "profilePic" "button";
}
@media (min-width: 768px) {
  .create-profile-grid .form-container .form {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 95%;
  }
}
.create-profile-grid .form-container .form input, .create-profile-grid .form-container .form textArea, .create-profile-grid .form-container .form .profile-pic {
  width: 100%;
}
.create-profile-grid .form-container .form label {
  display: block;
}
.create-profile-grid .form-container .form .fullname {
  grid-area: fullname;
}
.create-profile-grid .form-container .form .bio {
  grid-area: bio;
}
.create-profile-grid .form-container .form .location {
  grid-area: location;
}
.create-profile-grid .form-container .form .websiteURL {
  grid-area: websiteURL;
}
.create-profile-grid .form-container .form .profilePic {
  grid-area: profilePic;
}
.create-profile-grid .form-container .form .profilePic .file-input {
  display: none;
}
.create-profile-grid .form-container .form .profilePic .upload-button {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #958b8b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.create-profile-grid .form-container .form .profilePic .upload-button:hover {
  background-color: #c6c0c0;
}
.create-profile-grid .form-container .form .profilePic .profile-canvas {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.create-profile-grid .form-container .form .profilePic .profile-canvas input, .create-profile-grid .form-container .form .profilePic .profile-canvas button {
  width: 100%;
}
.create-profile-grid .form-container .form .button {
  grid-area: button;
}
.create-profile-grid .preview {
  grid-area: preview;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.create-profile-grid .preview .preview-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding-left: 40px;
  text-wrap: none;
}
@media (min-width: 768px) {
  .create-profile-grid .preview .preview-info {
    background-color: #353030;
    padding-left: 0;
  }
}
.create-profile-grid .preview .profile-prev-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .create-profile-grid .preview .profile-prev-image {
    border-bottom: 1px solid #928080;
    background-color: #313131;
  }
}
.create-profile-grid .preview .profile-prev-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.create-artist-profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form-container" "preview";
  width: 100%;
}
@media (min-width: 768px) {
  .create-artist-profile-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "form-container preview";
  }
}
.create-artist-profile-grid .form-container {
  grid-area: form-container;
}
.create-artist-profile-grid .form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "artistName" "description" "genre" "bannerPic" "button";
}
.create-artist-profile-grid .form input,
.create-artist-profile-grid .form textArea,
.create-artist-profile-grid .form button {
  padding: 5px;
  width: 100%;
}
.create-artist-profile-grid label {
  display: block;
}
.create-artist-profile-grid .artistName {
  grid-area: artistName;
}
.create-artist-profile-grid .description {
  grid-area: description;
}
.create-artist-profile-grid .genre {
  grid-area: genre;
}
.create-artist-profile-grid .bannerPic {
  grid-area: bannerPic;
  border: 1px solid white;
  position: relative !important;
}
.create-artist-profile-grid .bannerPic .editor-container {
  max-width: 1200px;
  overflow: auto;
}
.create-artist-profile-grid .bannerPic .artistPic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.create-artist-profile-grid .button {
  grid-area: button;
}

.labels-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.labels-right label {
  margin-right: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.preview {
  grid-area: preview;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview img {
  max-width: 250px;
}

.artist-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-image-small {
  width: 30px;
  height: 30px;
  border: 1px solid #654d4d;
  -webkit-filter: sepia(80%) saturate(50%) hue-rotate(300deg) drop-shadow(1px 1px 1px #774141);
          filter: sepia(80%) saturate(50%) hue-rotate(300deg) drop-shadow(1px 1px 1px #774141);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border-radius: 40%;
}
.profile-image-small img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20%;
}
.profile-image-small.fade {
  opacity: 0;
}

.artist-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #1e2525;
  height: 100vh;
}

.artist-banner {
  width: 100%;
  height: 200px;
}
.artist-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.artist-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.artist-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.artist-info p {
  margin-bottom: 10px;
}

.artisttrack-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #1e2525;
}

.artisttrack-banner {
  width: 100%;
  height: 200px;
}
.artisttrack-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.artisttrack-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1200px;
  padding: 20px 0;
  background-color: #1e2525;
  color: #8eb0b0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.artisttracks-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: transparent;
  margin: 20px 0;
}

.artisttracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: #1e2525;
  margin: 20px 0;
}
.artisttracks h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  font-size: 1.5em;
  margin-bottom: -25px;
}
.artisttracks .likes-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  width: 90%;
}

.pause-play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  background-color: #1e2525;
  margin-top: -10px;
  margin: 20px 0;
  margin-bottom: 5px;
}
.pause-play-button button {
  width: 100%;
  height: 30px;
  background-color: #475858;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pause-play-button button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin-right: 50px;
  margin-left: 50px;
  background-color: #5f7676;
}
.pause-play-button button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #b9cccc;
  margin-bottom: 5px;
}

.input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #03376e;
}
.input-bar input {
  border-radius: 5px;
}

.artisttrack-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.artisttrack-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.artisttrack-info p {
  margin-bottom: 10px;
}

.comments-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  background-color: #e8e8e8;
  width: 80%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments-form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}
.comments-form .content h2 {
  margin-bottom: 10px;
}
.comments-form input, .comments-form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}
.comments-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.comments-form button:hover {
  background-color: #0056b3;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  border: 1px solid pink;
}
.comments-container .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #141614;
  padding: 10px;
}
.comments-container .comment .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.comments-container .comment .comment-header .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.comments-container .comment .comment-header .comment-author {
  margin: 0;
}
.comments-container .comment .comment-content {
  display: grid;
  margin: 0 0 10px 0;
}
.comments-container .comment .reply-button {
  background-color: #f0f0f0;
  border: none;
  font-size: 12px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}
.comments-container .comment .reply-button:hover {
  background-color: #e0e0e0;
}
.comments-container .comment .reply-form {
  display: none;
  margin: 10px 0;
}
.comments-container .comment .reply-form .reply-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.comments-container .comment .reply-form .reply-submit {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.comments-container .comment .reply-form .reply-submit:hover {
  background-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */