.profile-form-button {
   //grid-area: button;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size:  18px;
    background-color: #9ea0aa;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #72747d;
        transition: all 0.2s ease-in-out;
    }
}

.upload-form-button {
    //grid-area: button;
     justify-self: center;
     align-self: center;
     width: 250px;
     margin-top: 10px;
margin-right: 20px;
     padding: 10px;
     font-size:  16px;
     background-color: #317b3d;
     border: 2px solid #748176;
     border-radius: 2px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     &:hover {
         background-color: #113f18;
         color: #7c9980;
         transition: all 0.2s ease-in-out;
     }
 }

 .spinner {
    --d: 24.6px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    color: #8c1616;
    box-shadow: calc(1*var(--d))      calc(0*var(--d))     0 0,
           calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1.1px,
           calc(0*var(--d))      calc(1*var(--d))     0 2.2px,
           calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
           calc(-1*var(--d))     calc(0*var(--d))     0 4.5px,
           calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
           calc(0*var(--d))      calc(-1*var(--d))    0 6.7px;
    animation: spinner-a90wxe 1s infinite steps(8);
 }
 
 @keyframes spinner-a90wxe {
    100% {
       transform: rotate(1turn);
    }
 }